beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
EasyProcess==0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.10
jdcal==1.4.1
lxml==4.6.2
openpyxl==3.0.5
PyVirtualDisplay==2.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
urllib3==1.26.2
